extends _partial/layout.pug

block title
	title
		= __("tags")
		- if (page.tag) {
			|: #{page.tag}
		- }

block content
	.container
		.post-list.category-details
			.content-title
				h2
					span= page.tag
			- page.posts.forEach(function(item){
				.post-item(title=item.title)
					.time-m-d!= item.date.format("MM-DD")
					.title
						a(href=url_for(item.path))
							- if(item.title !== "") { 
							span!= item.title
							- } else { 
							span untitled
							- } 
			- })
